.App {
  text-align: center;
}

body {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  margin: 0;
  font-size: 3em;
}

#slogan {
  margin: 0;
  font-size: 2em;
}

#Calendar {
  background: white;
  width: 90%;
}

button {
  background: black;
  color: white;
  border: 0;
  font-size: 1.5em;
  padding: 12px;
  cursor: pointer;
  margin-top: 30px;
}

#admin {
  background: white;
  padding: 30px;
  margin: 20px;
  color: black;
}

#settingsButton {
  background: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
